$color-primary: var(--acf-openstreetmap-color-primary, #2271b1) !default;
$color-danger: var(--acf-openstreetmap-color-danger, #790000) !default;
$color-white: var(--acf-openstreetmap-color-white, #ffffff) !default;

@import "~@helsingborg-stad/openstreetmap/dist/main.css";
@import "./options.scss";
@import "./editOverlay.scss";
@import "./setting.scss";

.acf-openstreetmap {
    position: relative;

    .acf-openstreetmap__button {
        cursor: pointer;
        padding: .5rem 1rem;
        background-color: $color-white;
        border: 1px solid $color-primary;
        color: $color-primary;
        border-radius: 2px;
        transition: .2s ease-in-out;
        display: flex;
        justify-content: center;

        &.selected,
        &:hover {
            background-color: $color-primary;
            color: $color-white;
        }

        &.acf-openstreetmap__button--cancel {
            background-color: $color-white;
            color: $color-danger;
            border: 1px solid $color-danger;
            &:hover {
                background-color: $color-danger;
                color: $color-white;
            }
        }
    }
}