.acf-openstreetmap__options {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 1.5rem;
    position: relative;
}

.acf-openstreetmap__markers-and-image-overlay-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #2271b1;
    gap: 2rem;
    border-radius: .2rem;
    flex: 1 0 18rem;

    .acf-openstreetmap__option-marker {
        padding: 1rem;
        display: flex;
        gap: 1rem;
        flex-direction: column;
    }

    ul {
        margin-bottom: 0;
        margin-top: 0;
    }
}

.acf-openstreetmap__option-list-marker,
.acf-openstreetmap__option-list-image-overlay {
    padding-left: 0;
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
}

// Image overlay
.acf-openstreetmap__option-image-overlay {
    .acf-openstreetmap__option-image-overlay-button {
        display: flex;
        justify-content: space-between;
        margin: 0 -1px -1px;
    }

    .acf-openstreetmap__option-list-image-overlay {
        padding: 0rem;
    
        &:not(:empty) {
            padding: 1rem;
        }
    }
}

// Layer Group
.acf-openstreetmap__button-add {
    margin-top: .5rem;
    transition: .2s ease-in-out;
    cursor: pointer;

    &:hover {
        font-weight: bold;
    }
}

.acf-openstreetmap__option-layer-group {
    display: flex;
    flex-direction: column;
    width: 20rem;
    span {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
}

.acf-openstreetmap__edit-layer-group {
    transition: .2s ease-in-out;

    &:hover {
        font-weight: bold;
    }
}

.acf-openstreetmap__option-list-layer-group {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: .75rem;

    li {
        margin: 0 !important;
        display: flex;
        align-items: center;
        gap: .5rem;
        justify-content: space-between;
        cursor: pointer;
        position: relative;
        
        span {
            z-index: 2;
        }

        .line-horizontal {
            z-index: 1;
            position: absolute;
            top: 50%;
            transform: translate(0px, -50%);
            right: 0;
            background-color: #2271b1;
            height: 2px;
            width: 45px;
            transition: unset;
            visibility: hidden;
        }

        .arrow-right:before {
            content: "";
            position: absolute;
            width: 0px;
            height: 0px;
            border: 5px solid transparent;
            top: -4px;
            right: -15px;
            border-left: 15px solid #2271b1;
        }

        &.button-primary {
            .line-horizontal {
                transform: translate(40px, -50%);
                visibility: visible;
                transition: .2s ease-out;
            }

            &:hover {
                .line-horizontal {
                    background-color: #135e96;
                }
                .arrow-right:before {
                    border-left: 15px solid #135e96;
                }
            }
        }
    }
}